body {
  font-family: sans-serif;
}

h1 {
  margin: 40px;
  text-align: center;
}
#display {
  margin: 20px auto;
  position: relative;
}
canvas {
  display: block;
  margin: 20px auto;
}
input {
  display: block;
  margin: auto;
  background-color: white;
}
img#tape {
  display: none;
}
